/* Select all CSS */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* create global variable with :root selector */
:root {
  --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-red: rgb(236, 56, 56);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
}

/* Restaurant cards CSS */
.restaurant-list {
  width: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 10px;
}

.card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #d3d5df;
  cursor: pointer;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.card > img {
  width: 230px;
  height: 144px;
  border-radius: 10px;
}

.card > h5 {
  font-weight: lighter;
}

.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
}

.card > span > h4 {
  font-weight: bolder;
  font-size: 12px;
  padding: 0 2px 0;
  margin-top: 10px;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

.card > span > h4:first-child .fa-star {
  font-size: 10px;
  padding: 0 5px 3px 0;
}
/*Shimmer CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* Error Page */

.error-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.errisfound {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40;
}

.err-btn {
  margin-top: 5px;
  width: 12em;
  height: 3em;
  background-color: #d7d4d4;
  color: black;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
